# pycache
__pycache__/
*.py[cod]

# jupyter
.ipynb_checkpoints

# env
.venv/
venv/
env/

# poetry
dist/
build/
poetry.lock

# tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# ide
.vscode/
.idea/
*.swp
*.swo
*~

# os
.DS_Store
Thumbs.db
